<div class="titles">Top page</div>
<script src="/assets/javascripts/processing.min.js"></script>
<script type="application/processing" data-processing-target="pjs">
int p_num;

float offsetx;
float offsety;

ArrayList<Particles> p_set = new ArrayList<Particles> ();

void setup () {

    size (screenWidth, screenHeight);
    colorMode (RGB, 256);
    background (255);
    frameRate (60);
    smooth();

    p_num = 3000;

    for (int i = 0; i < p_num; i++) {
        p_set.add (new Particles ());
    }

}

void draw () {

    fade ();

    //background (255);

    //translate (offsetx, offsety);

    for (Particles p: p_set) {
        p.refresh ();
        p.draw ();
    }

    //saveFrame ();

}

void fade () {

    noStroke ();
    fill (255, 3);
    rectMode (CORNER);
    rect (0, 0, width, height);

}

class Particles {

    float mass;
    float px, py;
    float vx, vy;
    float ax, ay;
    float sc;
    float distance;

    Particles () {

        mass = 0;
        px = random (width);
        py = random (height);
        vx = random (-0.5, 0.5);
        vy = random (-0.5, 0.5);
        ax = 0;
        ay = 0;
        sc = 0.01;

    }

    void refresh () {

        mass = random (0.1, 2.0);
        ax = -1 * vx * 0.2;
        ay = -1 * vy * 0.2;
        ax += (mouseX - px) * 0.15;
        ay += (mouseY - py) * 0.15;

        distance = dist (mouseX, mouseY, px, py);
        if (distance < 6) {
            sc = 2.5;
        } else {
            sc = 1 / (distance / 100);
        }

        vx += ax / mass * 0.5;
        vy += ay / mass * 0.5;
        px += vx;
        py += vy;

    }

    void draw () {

        noStroke ();
        fill (random (45,155),200);
        ellipseMode (CENTER);
        ellipse (px, py, 0.2 * sc, 0.5 * sc);

    }

}
</script>
<div class="wrapcv">
    <canvas id="pjs"></canvas>
</div>
