<!DOCTYPE html>
<html>
  <head>
    <title>Selfvisualizer</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="/assets/javascripts/processing.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
  </body>
</html>
